$red-1: #d72134;
$red-2: #b50315;
$red-3: #a11927;
$blue-1: #1f2251;
$blue-2: #010433;
$blue-4: #4fb9ff;
$blue-5: #26475f;
$blue-6: #1a3a52;
$yellow-1: #febd25;
$yellow-2: #cca876;
$yellow-3: #ac6400;
$yellow-4: #b99d75;
$brown-1: #522e19;
$brown-2: #572216;
$green-1: #15461d;
$green-2: #135758;
$pink-1: #e5afc5;
$orange-1: #d97629;
$linear-gradient-1: linear-gradient(to bottom, #000000c5, #00000060);
$linear-gradient-2: linear-gradient(to bottom, #0000008a, #00000042);
$linear-gradient-3: linear-gradient(to top, #0000008f, #0000008c);
$linear-gradient-4: linear-gradient(to bottom, #00000000, #000000be);
$linear-gradient-5: linear-gradient(to bottom, #00000000, #00000028);

$text-shadow-1: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);
$box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-3: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$box-shadow-4: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
